<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>

<body>
  <h2>
    <strong>Greetings Ka {{.FName}}</strong>
  </h2>
  <p style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:15px;">
    Here are the details of the meeting:
  </p>
  <p style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:15px;">
    Meeting Link: {{.ZLink}}<br>
    Meeting Number: {{.ZMeet}}<br>
    Meeting Password: {{.ZPass}}<br>
    Date: {{.ZDate}}<br>
  </p>
  <p style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:15px;">
    Some reminders:<br><br>
    - Please follow this naming convention: {{.District}}_{{.FName}}_{{.LName}}_{{.Local}}<br>
    - Please join the Zoom meeting at {{.Time}}<br>
    - Please keep the camera open<br>
    - Keep the mic mute when not speaking<br>
    - Make yourself comfortable and have fun!<br>
  </p>
  <img src="{{.ZQR}}" >
  <p style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:15px;">
    See you there!,<br>
    KDO - HK & Thailand
  </p>
</body>

</html>