<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>

<body>
  <p>
    <strong>Greetings Ka {{.FName}}</strong>
  </p>
  <p>
    Here are the details of the meeting:
  </p>
  <img src="{{.ZQR}}">
  <p>
    Meeting Link: {{.ZLink}}<br>
    Meeting Number: {{.ZMeet}}<br>
    Meeting Password: {{.ZPass}}<br>
    Date: {{.ZDate}}<br>
  </p>
  <p>
    Some reminders:
    <li>Please follow this naming convention: {{.District}}_{{.FName}}_{{.LName}}</li>
    <li>Please join the Zoom meeting at {{.Time}}</li>
    <li>Please keep the camera open</li>
    <li>Keep the mic mute when not speaking</li>
    <li>Make yourself comfortable and have fun!</li>
  </p>
  <p>
    See you there!,<br>
    KDO - HK & Thailand
  </p>
</body>

</html>