<!-- form.html -->
<style type="text/css">
    .error {
        color: red;
    }
</style>
<h1>Registration</h1>
<form action="/internal/register" method="POST" novalidate>
    <div>
        {{ with .Errors.Email }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Email:</label><br />
        <input type="email" name="email" value="{{ .Email }}"><br />
    </div>
    <div>
        {{ with .Errors.FirstName }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>First Name:</label><br />
        <input type="text" name="fname" value="{{ .FirstName }}"><br />
    </div>
    <div>
        {{ with .Errors.LastName }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Last Name:</label><br />
        <input type="text" name="lname" value="{{ .LastName }}"><br />
    </div>
    <div>
        {{ with .Errors.Area }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Area:</label><br />
        <input type="text" name="area" value="{{ .Area }}"><br />
    </div>
    <div>
        {{ with .Errors.Group }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Group:</label><br />
        <input type="text" name="group" value="{{ .Group }}"><br />
    </div>
    <label>Church Duty:</label><br />
    <input type="text" name="function"><br />
    <div>
        {{ with .Errors.Gender }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Gender:</label><br />
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br /><br />
    </div>
    <div> 
        {{ with .Errors.Local }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Local:</label><br />
        <input type="text" name="local" value="{{ .Local }}"><br /><br />
    </div>
    <div> 
        {{ with .Errors.District }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>District:</label><br />
        <input type="radio" id="hk" name="district" value="hk">
        <label for="hk">Hong Kong</label>
        <input type="radio" id="th" name="district" value="th">
        <label for="th">Thailand</label><br /><br />
    </div>
    <div> 
        {{ with .Errors.Status }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Status:</label><br />
        <input type="radio" id="single-available" name="status" value="single-available">
        <label for="single-available">Single & Available</label>
        <input type="radio" id="single-not-available" name="status" value="single-not-available">
        <label for="single-not-available">Single but not looking</label>
        <input type="radio" id="in-a-relationship" name="status" value="in-a-relationship">
        <label for="in-a-relationship">In a Relationship</label><br /><br />
    </div>
    <div> 
        {{ with .Errors.PreferredDay }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <label>Preferred day to join Meet & Greet:</label><br />
        <input type="radio" id="mon" name="prefday" value="mon">
        <label for="mon">Sep. 14, Monday, 9:00pm (TH) / 10:00pm (HK)</label><br />
        <input type="radio" id="tue" name="prefday" value="tue">
        <label for="tue">Sep. 15, Tuesday, 9:00pm (TH) / 10:00pm (HK)</label><br />
        <input type="radio" id="wed" name="prefday" value="wed">
        <label for="wed">Sep. 16, Wednesday, 9:00pm (TH) / 10:00pm (HK)</label><br />
        <input type="radio" id="thu" name="prefday" value="thu">
        <label for="thu">Sep. 17, Thursday, 9:00pm (TH) / 10:00pm (HK)</label><br />
        <input type="radio" id="fri" name="prefday" value="fri">
        <label for="fri">Sep. 18, Friday, 9:00pm (TH) / 10:00pm (HK)</label><br />
        <input type="radio" id="sat" name="prefday" value="sat">
        <label for="sat">Sep. 19, Saturday, 9:00pm (TH) / 10:00pm (HK)</label><br />
    </div>
    <br /><br />
    <input type="submit">
</form>